@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base font-serif overflow-x-hidden text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0 20px;
  }

  to {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.delayed-fade-in {
  animation: fadeIn 1.5s ease-in-out 1s;
  animation-fill-mode: both;
}

.fast-fade-in {
  animation: fadeIn 0.25s linear;
}

.pop {
  animation: pop 0.2s ease-in-out;
}

.toast {
  animation: fadeOut 0.25s linear;
  animation: fadeOut 0.25s linear 3s;
}

.marquee {
  animation: marquee 30s linear infinite;
}


.parent-list {
  counter-reset: parent;
}

.parent-list > li {
  counter-increment: parent;
  counter-reset: nested-1;
  list-style-position: inside;
}

.parent-list > li::before {
  content: counter(parent) ". ";
  font-family: sans-serif;
}

.nested-list-1 {
  counter-reset: nested-1;
  padding-left: 1rem;
}

.nested-list-1 > li {
  counter-increment: nested-1;
  list-style-position: inside;
  padding-left: 1rem;
}

.nested-list-1 > li::before {
  font-family: sans-serif;
  content: counter(parent) "-" counter(nested-1) ". ";
}

@layer components {
  .marquee-container {
    @apply flex gap-4 overflow-hidden
  }

  .marquee-inner {
    @apply h-full  shrink-0 marquee
  }

  .btn {
    @apply max-w-full py-2 lg:px-8 px-8 lg:text-xl text-base rounded-full font-semibold hover:cursor-pointer text-center hover:scale-105 transition-all;
  }

  .btn-circle {
    @apply w-12 h-12 flex items-center justify-center rounded-full lg:text-3xl text-xl font-bold hover:cursor-pointer hover:scale-105 transition-all;
  }

  .btn-main {
    @apply text-white bg-pink-400 hover:bg-pink-300 border-none;
  }

  .btn-base {
    @apply text-black border border-slate-700 hover:bg-slate-200;
  }

  .bg-base {
    @apply bg-slate-700;
  }

  .bg-secondary {
    @apply bg-slate-900;
  }

  .bg-main {
    @apply bg-pink-400;
  }

  .label {
    @apply text-xl inline-block mb-1;
  }

  .input {
    @apply px-3 py-2 border border-white bg-gray-600 w-full text-lg rounded-md font-sans;
  }

  .form-button {
    @apply py-1 px-2 border border-black bg-white text-lg rounded-md font-sans;
  }

  .input-sm {
    @apply py-1 px-2 border border-white bg-base w-full text-lg rounded-md font-sans;
  }

  .input-error {
    @apply text-red-400;
  }

  .wp-article {
    @apply flex flex-col gap-2 text-lg [&_a]:text-blue-300 [&_a]:underline [&_a]:visited:text-purple-400 [&_h2]:text-3xl [&_h2]:mt-4 [&_h2]:mb-2 [&_h3]:text-2xl [&_h3]:mt-4 [&_h3]:mb-1 [&_table]:border [&_table]:mt-4 border-white [&_th]:border [&_th]:p-2 [&_td]:border [&_td]:p-2 [&_li]:list-decimal [&_li]:my-1 [&_li]:list-inside [&_hr]:mt-8 [&_hr]:mb-12 [&_img]:w-4/5 [&_img]:mx-auto;
  }
}
