@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base font-serif overflow-x-hidden text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0 20px;
  }

  to {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.delayed-fade-in {
  animation: fadeIn 1.5s ease-in-out 1s;
  animation-fill-mode: both;
}

.fast-fade-in {
  animation: fadeIn 0.5s linear;
}

.pop {
  animation: pop 0.2s ease-in-out;
}

@layer components {
  .btn {
    @apply max-w-full py-2 lg:px-8 px-8 lg:text-xl text-base rounded-full font-semibold hover:cursor-pointer text-center hover:scale-105 transition-all;
  }

  .btn-circle {
    @apply w-12 h-12 flex items-center justify-center rounded-full lg:text-3xl text-xl font-bold hover:cursor-pointer hover:scale-105 transition-all;
  }

  .btn-main {
    @apply text-white bg-pink-400 hover:bg-pink-300 border-none;
  }

  .btn-base {
    @apply text-black border border-slate-700 hover:bg-slate-200;
  }

  .bg-base {
    @apply bg-slate-700;
  }

  .bg-secondary {
    @apply bg-slate-900;
  }

  .bg-main {
    @apply bg-pink-400;
  }

  .label {
    @apply text-2xl;
  }

  .input {
    @apply p-3 border border-white bg-gray-600 w-full text-lg rounded-md font-sans;
  }

  .form-button {
    @apply py-1 px-2 border border-black bg-white text-lg rounded-md font-sans;
  }

  .input-sm {
    @apply py-1 px-2 border border-white bg-base w-full text-lg rounded-md font-sans;
  }

  .input-error {
    @apply text-red-400;
  }

  .rounded-semi {
    @apply rounded-[0.25rem]
  }
}
